# **Sets :**

---

* Sets are used to store multiple items in a single variable.

* Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.



*   **Representaion :** set are represented by curly braces :  `{}` in python.

In [1]:
set1 = {1,2,3}
type(set1)

set

# **Charecterstics :**

---

* **Unordered:** Sets do not maintain any order for the elements. Unlike lists or tuples, where elements have a specific order, sets do not guarantee any particular order.

In [2]:
my_set = {3, 1, 4, 1, 5, 9, 2}
print(my_set)

{1, 2, 3, 4, 5, 9}

* **Unique Elements:** Sets only allow unique elements. If you try to add a duplicate element to a set, it won't be added.

In [3]:
unique_set = {1, 2, 3, 1, 2, 3, 4}
print(unique_set)

{1, 2, 3, 4}

* **Mutable:** Sets are mutable, meaning you can add and remove elements after the set is created.This means that the object can be modified, and these modifications will affect the object's state without creating a new object.

* But the elements contained in the set must be of an immutable type.

In [4]:
my_set = {1, 2, 3}
my_set.add(4)
my_set.remove(2)
print(my_set)

{1, 3, 4}

* **No Indexing**: Sets do not support indexing. You cannot access elements in a set by their position.

In [5]:
my_set = {1, 2, 3}
print(my_set[0])

TypeError: 'set' object is not subscriptable

# **Defining a Set :**

---



* **Using Curly Braces {}:** The most common and concise way to create a set is by enclosing elements in curly braces.
* Note: If you want to create an empty set, you must use the set() constructor, as {} will create an empty dictionary.

In [6]:
my_set = {1, 2, 3, 4, 5}

* **Using the set() Constructor:** We can use the `set()` constructor to create a set. You can pass an iterable (e.g., a list, tuple, or string) as an argument to set().

In [7]:
# Using a string
string_iterable = "hello"
set_from_string = set(string_iterable)
print(set_from_string)

# Using a tuple
tuple_iterable = (1, 2, 3, 4, 5)
set_from_tuple = set(tuple_iterable)
print(set_from_tuple)

# Using a list
list_iterable = [1, 2, 3, 4, 5]
set_from_list = set(list_iterable)
print(set_from_list)


# Using a set
set_iterable = {1, 2, 3, 4, 5}
nested_set_from_set = set(set_iterable)
print(nested_set_from_set)


# Using dictionary keys
dict_iterable = {'a': 1, 'b': 2, 'c': 3}
set_from_dict_keys = set(dict_iterable)
print(set_from_dict_keys)

# Using a range
range_iterable = range(1, 6)
set_from_range = set(range_iterable)
print(set_from_range)

{'l', 'o', 'e', 'h'}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{'b', 'c', 'a'}
{1, 2, 3, 4, 5}

# **Set methods :**

---

* `add(element)`: Adds an element to the set if it is not already present.

In [8]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

* `remove(element):` Removes the specified element from the set. Raises a KeyError if the element is not present.

In [9]:
my_set = {1, 2, 3, 4}
my_set.remove(2)
print(my_set)

{1, 3, 4}

* `discard(element):` Removes the specified element from the set if it is present. Does not raise an error if the element is not found.

In [10]:
my_set = {1, 2, 3, 4}
my_set.discard(2)
print(my_set)

{1, 3, 4}

* `pop():` Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.

In [11]:
my_set = {1, 2, 3, 4}
popped_element = my_set.pop()
print(popped_element, my_set)

1 {2, 3, 4}

* `clear():` Removes all elements from the set, making it an empty set.

In [13]:
my_set = {1, 2, 3, 4}
my_set.clear()
print(my_set)

set()

* `copy():` Returns a shallow copy of the set.

In [14]:
original_set = {1, 2, 3}
copied_set = original_set.copy()
print(copied_set)

{1, 2, 3}

* `union(other_set) or | operator:` Returns a new set containing all unique elements from both sets.

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
# or using | operator: union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

* `intersection(other_set) or & operator:` Returns a new set containing elements that are common to both sets.

In [16]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection_set = set1.intersection(set2)
# or using & operator: intersection_set = set1 & set2
print(intersection_set)

{3, 4}

* `difference(other_set) or - operator:` Returns a new set containing elements that are present in the first set but not in the second set.

In [17]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
difference_set = set1.difference(set2)
# or using - operator: difference_set = set1 - set2
print(difference_set)

{1, 2}

* `symmetric_difference(other_set) or ^ operator:` Returns a new set containing elements that are present in either of the sets, but not in both.

In [18]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
symmetric_difference_set = set1.symmetric_difference(set2)
# or using ^ operator: symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)

{1, 2, 5, 6}

In [19]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
is_disjoint = set1.isdisjoint(set2)

print(f"Is set1 a subset of set2? {is_subset}")
print(f"Is set1 a superset of set2? {is_superset}")
print(f"Do set1 and set2 have any elements in common? {not is_disjoint}")

Is set1 a subset of set2? True
Is set1 a superset of set2? False
Do set1 and set2 have any elements in common? True

# **Frozen Sets :**

---

Python provides another built-in type called a frozenset, which is in all respects exactly like a set, except that a frozenset is immutable.

In [21]:
x = frozenset(['foo', 'bar', 'baz'])
print(x)
print(type(x))

frozenset({'foo', 'baz', 'bar'})
<class 'frozenset'>

In [22]:
my_frozenset = frozenset({1, 2, 3})

# This will raise an error
my_frozenset.add(4)

AttributeError: 'frozenset' object has no attribute 'add'