# **Numeric Data Types** :

---

> Number data types store numeric values. They are immutable data types, which means that changing the value of a number data type results in a newly allocated object.

Different types of Number data types are :

* **int** : An integer is a whole number with no decimal places.
  > ex : 1,2
* **float** : It is a numerical data type used to represent real numbers, including both rational and irrational numbers. Floats are used to store decimal numbers or numbers with a fractional component.
  > ex : my_float = 3.14
* **complex** : Complex numbers are a built-in data type that allows you to work with numbers in the form a + bj, where a and b are real numbers, and j is the imaginary unit (the square root of -1).
  > ex : comp = 1 + 2j

In [4]:
def showType(ele) :
  print(f"{ele} is {type(ele)}")


a = 155  #int
showType(a)

b = 3.14  #float
showType(b)

c = 1+2j  #complex
showType(c)

155 is <class 'int'>
3.14 is <class 'float'>
(1+2j) is <class 'complex'>

# **int :**

---

* Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [5]:
a1 = 44641534864348646846813516146884684
showType(a1)

44641534864348646846813516146884684 is <class 'int'>

* **Representation**: User can write bigger integer using **`"_"`** in between for better **readability** purpose

In [8]:
a2 = 1022220_77_666_555_444_9
showType(a2)

1022220776665554449 is <class 'int'>

* In Python, integers can be represented in various ways. Let's explore three common ways in a more organized manner:
  * **Decimal Integers:** Representing integers in the standard decimal (base-10) form.

    ```decimal_int = 42```

  * **Binary Integers:** Representing integers in binary (base-2) form using the 0b prefix.

    ```binary_int = 0b10101```

  * **Hexadecimal Integers:** Representing integers in hexadecimal (base-16) form using the 0x prefix.

    ```hex_int = 0xA3 ```

 *N.B. : These representations are just different ways of expressing the same underlying integer value. Choose the representation that best fits your needs or the specific requirements of your code.*

In [9]:
decimal_int = 42
binary_int = 0b10101  # 21 in decimal
hex_int = 0xA3  # 163 in decimal

print(f"Decimal Integer: {decimal_int}")
print(f"Binary Integer: {binary_int}")
print(f"Hexadecimal Integer: {hex_int}")

Decimal Integer: 42
Binary Integer: 21
Hexadecimal Integer: 163

**Better representation of various way of ints :**

```
+---------------------+----------------+------+
|   Representation    | Representation | Base |
|        Name         |                |      |
+---------------------+----------------+------+
| Decimal Integers    | 42             | 10   |
+---------------------+----------------+------+
| Binary Integers     | 0b10101        | 2    |
+---------------------+----------------+------+
| Hexadecimal Integers| 0xA3           | 16   |
+---------------------+----------------+------+

```

* **typecasting** : To convert Numeric but different different data type to **int**, we need to use ```int()``` function.

  * **Casting from Float to Int**: When casting from a float to an int, the `decimal part is truncated`. For example, int(3.75) results in 3.

  * **Casting from String to Int:** When casting from a string to an int, the string should represent a valid integer. For example, int("123") results in 123.

In [12]:
str_1 = "123"  #string to int
float_1 = 3.75 #float to int

showType(int(str_1))
showType(int(float_1))

123 is <class 'int'>
3 is <class 'int'>

* **Possible Error while typecasting:** If you try to cast a string that doesn't represent a valid integer, a ValueError will be raised. For example, attempting to cast "abc" to an int will result in an error.

In [14]:
str_2 = 'abc'
showType(int(str_2))

ValueError: invalid literal for int() with base 10: 'abc'

# **Float:**

---

Floats in Python are a data type used to represent decimal numbers or numbers with a fractional component.

In [16]:
float_2 = 13.454
showType(float_2)

13.454 is <class 'float'>

* They can also be expressed using scientific notation, such as 1.23e-4 (which is equivalent to 0.000123).

In [17]:
float_3 =  1.23e-4
showType(float_3)

0.000123 is <class 'float'>

**Usage :**

* Floats are suitable for representing real numbers, including both rational and irrational numbers.
* They are commonly used in mathematical and scientific computations, where precision is required.

**Precision Considerations:**

* Floating-point arithmetic in computers may lead to `precision issues` due to the way floating-point numbers are represented in binary. This can result in small rounding errors.

* **typecasting to float :**
  * same as `int()` function , just usee ```float()``` instead.
  * If int or str does not have any floatint points it adds `.0` by default.

In [19]:
str_3 = "30.144"
int_3 = 50

showType(float(str_3))
showType(float(int_3))

30.144 is <class 'float'>
50.0 is <class 'float'>

# **Basic Operations & Functions:**

---

We can do multipe basic operations between int and float like

In [28]:
# Addition (+)
x = 10
y = 5
z = x + y
print(z) # 15

# Subtraction (-)
x = 10
y = 5
z = x - y
print(z) # 5

# Multiplication (*)
x = 10
y = 5
z = x * y
print(z) # 50

# Division (/)
x = 10
y = 5
z = x / y
print(z) # 2.0

# Floor division (//)
x = 10
y = 3
z = x // y
print(z) # 3

# Modulus (%)
x = 10
y = 3
z = x % y
print(z) # 1

# Exponentiation (**)
x = 10
y = 2
z = x ** y
print(z) # 100

15
5
50
2.0
3
1
100

* We can do various operation between them too. In this case resultant varies.Here is a table

```+----------------------+-----------------------+------------------------+
|    Operation         |       Example         |        Result          |
|                      |                       |                        |
+----------------------+-----------------------+------------------------+
| Addition             |   int + int           |       int              |
| Addition             |   int + float         |       float            |
+----------------------+-----------------------+------------------------+
| Subtraction          |   int - int           |       int              |
| Subtraction          |   int - float         |       float            |
+----------------------+-----------------------+------------------------+
| Multiplication       |   int * int           |       int              |
| Multiplication       |   int * float         |       float            |
+----------------------+-----------------------+------------------------+
| Division             |   int / int           |       float            |
| Division             |   int / float         |       float            |
+----------------------+-----------------------+------------------------+
| Floor Division       |   int // int          |       int              |
| Floor Division       |   int // float        |       float            |
+----------------------+-----------------------+------------------------+
| Modulus (Remainder)  |   int % int           |       int              |
| Modulus (Remainder)  |   int % float         |       float            |
+----------------------+-----------------------+------------------------+
| Exponentiation       |   int ** int          |       int or float     |
| Exponentiation       |   int ** float        |       float            |
+----------------------+-----------------------+------------------------+
```

In [29]:
# Integer and float numbers
int_num = 5
float_num = 2.5

# Addition
result_addition_int_int = int_num + int_num
result_addition_int_float = int_num + float_num

# Subtraction
result_subtraction_int_int = int_num - int_num
result_subtraction_int_float = int_num - float_num

# Multiplication
result_multiplication_int_int = int_num * int_num
result_multiplication_int_float = int_num * float_num

# Division
result_division_int_int = int_num / int_num
result_division_int_float = int_num / float_num

# Floor Division
result_floor_division_int_int = int_num // int_num
result_floor_division_int_float = int_num // float_num

# Modulus (Remainder)
result_modulus_int_int = int_num % int_num
result_modulus_int_float = int_num % float_num

# Exponentiation
result_exponentiation_int_int = int_num ** int_num
result_exponentiation_int_float = int_num ** float_num

# Printing the results
print("Addition (int + int):", result_addition_int_int)
print("Addition (int + float):", result_addition_int_float)

print("\nSubtraction (int - int):", result_subtraction_int_int)
print("Subtraction (int - float):", result_subtraction_int_float)

print("\nMultiplication (int * int):", result_multiplication_int_int)
print("Multiplication (int * float):", result_multiplication_int_float)

print("\nDivision (int / int):", result_division_int_int)
print("Division (int / float):", result_division_int_float)

print("\nFloor Division (int // int):", result_floor_division_int_int)
print("Floor Division (int // float):", result_floor_division_int_float)

print("\nModulus (Remainder) (int % int):", result_modulus_int_int)
print("Modulus (Remainder) (int % float):", result_modulus_int_float)

print("\nExponentiation (int ** int):", result_exponentiation_int_int)
print("Exponentiation (int ** float):", result_exponentiation_int_float)

Addition (int + int): 10
Addition (int + float): 7.5

Subtraction (int - int): 0
Subtraction (int - float): 2.5

Multiplication (int * int): 25
Multiplication (int * float): 12.5

Division (int / int): 1.0
Division (int / float): 2.0

Floor Division (int // int): 1
Floor Division (int // float): 2.0

Modulus (Remainder) (int % int): 0
Modulus (Remainder) (int % float): 0.0

Exponentiation (int ** int): 3125
Exponentiation (int ** float): 55.90169943749474

* **Functions :** Theere are various in built int and float functions available(like `int() or float()`) here are some :

In [32]:
# Integer Functions



# Returns the absolute value of an integer
absolute_value = abs(-5)
print("Absolute value:", absolute_value)

# Returns the quotient and remainder of the division of two integers
quotient, remainder = divmod(17, 5)
print("Quotient:", quotient)
print("Remainder:", remainder)


# Floating-Point Functions


# Returns the absolute value of a floating-point number
absolute_value = abs(-3.14)
print("Absolute value:", absolute_value)

# Rounds a floating-point number to a specified number of decimals
rounded_num = round(3.14159, 2)
print("Rounded number:", rounded_num)

# The math module provides additional functions for floating-point numbers
import math

# Returns the largest integer less than or equal to a given number
floor_result = math.floor(4.8)
print("Floor result:", floor_result)

# Returns the smallest integer greater than or equal to a given number
ceil_result = math.ceil(4.1)
print("Ceil result:", ceil_result)

Absolute value: 5
Quotient: 3
Remainder: 2
Absolute value: 3.14
Rounded number: 3.14
Floor result: 4
Ceil result: 5

# **Complex Numbers :**

---

In Python, complex numbers are a built-in data type used to represent numbers in the form a + bj, where a and b are real numbers, and j is the imaginary unit (the square root of -1). Complex numbers are useful in various mathematical and engineering applications, especially in fields such as signal processing and control systems.

* User can create complex numbers in Python using the `complex()` function or by directly expressing them with real and imaginary parts:

In [22]:
# Using complex() function
z1 = complex(3, 4)  # 3 + 4j

# Expressing with real and imaginary parts
z2 = 1 + 2j

showType(z1)
showType(z2)

(3+4j) is <class 'complex'>
(1+2j) is <class 'complex'>

* **Basic Operations with Complex Numbers:** Python supports various operations with complex numbers, such as addition, subtraction, multiplication, and division:

In [23]:
z1 = 3 + 4j
z2 = 1 - 2j

# Addition
result_addition = z1 + z2  # (3 + 4j) + (1 - 2j) = 4 + 2j

# Subtraction
result_subtraction = z1 - z2  # (3 + 4j) - (1 - 2j) = 2 + 6j

# Multiplication
result_multiplication = z1 * z2  # (3 + 4j) * (1 - 2j) = 11 - 2j

# Division
result_division = z1 / z2  # (3 + 4j) / (1 - 2j) = (-1 + 2j)

# Printing the results
print("Result of Addition:", result_addition)
print("Result of Subtraction:", result_subtraction)
print("Result of Multiplication:", result_multiplication)
print("Result of Division:", result_division)

Result of Addition: (4+2j)
Result of Subtraction: (2+6j)
Result of Multiplication: (11-2j)
Result of Division: (-1+2j)

* **Accessing Real and Imaginary Parts:**

In [25]:
real_part = z1.real  # Returns the real part of z1 (3.0)
imag_part = z1.imag  # Returns the imaginary part of z1 (4.0)

print("Real Part of z1:", real_part)
print("Imaginary Part of z1:", imag_part)

Real Part of z1: 3.0
Imaginary Part of z1: 4.0